.hero-detail{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.hero-detail__id {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  height: 1.8em;
  border-radius: 4px 0 0 4px;
}
#hero-detail__name{
  width: 15em;
  height: 2.5em;
  border-radius: 5px;
  background-color: #EEE;
  border: none;
}